<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>Fruit Name</th>
            <th>Quantity</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>Strawberry</td>
            <td>{{ qtystraw }}</td>
        </tr>
        <tr>
            <td>Raspberry</td>
            <td>{{ qtyraspb }}</td>
        </tr>
        <tr>
            <td>Apple</td>
            <td>{{ qtyapple }}</td>
        </tr>
        </tbody>
    </table>
</body>
</html>