<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Show </title>
</head>
<body>
    <a href="/shows">Go Back</a>
    <h1>TV Show # {{the_show.id}}</h1>
    <p>Title: {{the_show.title}}</p>
    <p>Network: {{the_show.network}}</p>
    <p>Release Date: {{the_show.release_date}}</p>
    <p>Description: {{the_show.desc}}</p>
    <br><br><br><br><br><br>
    <p>Last Updated: {{the_show.updated_at}}</p>
    <a href="/shows/{{the_show.id}}/edit">Edit</a>
    <a href="/shows/{{the_show.id}}/destroy">Delete</a>
</body>
</html>