<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Quote</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <p style="color:red;">{{message}}</p>
        {% endfor %}
    {% endif %}
    <div>
        <h1>Edit Quote #: {{quoteobj.id}}</h1>
        <form action="/quotes/{{quoteobj.id}}/edit" method="post">
            {% csrf_token %}
            <p>Quoted by: <input type="text" name="fauthor" id="" value={{quoteobj.author}}></p>
            <p>Message: </p><textarea name="fcontent" id="" cols="30" rows="10">{{quoteobj.content}}</textarea></p>
            <p><input type="reset" value="Cancel"></p>
            <p><input type="submit" value="Submit"></p>
        </form>
    </div>


</body>
</html>