<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Form</title>
</head>
<body>
    {% for error in messages %}
        <p style="color: red">{{error}}</p>
    {% endfor %}

    <a href="/shows">Go Back</a>
    <h1>Add New Show</h1>
    <form action="/shows/create" method="post">
        {% csrf_token %}
        <label>Title</label><br>
        <input type="text" name="ftitle" id=""><br><br>
        <label>Netowrk</label>
        <input type="text" name="fnetwork" id="">
        <label>Release Date</label>
        <input type="date" name="frelease" id=""><br><br>
        <label>Description</label>
        <textarea name="fdesc" ></textarea><br><br>
        <button type="submit">Create</button>
    </form>
</body>
</html>